<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="iTOPS" connectionString="server=10.140.41.30,1433;uid=admin;v0vCP89sk1qUBg0p2W9FKmWEwsFjXa0AJSXyYzUWMVE=;database=TRAPEACE;"/>
    <add name="iTOPS_FTP" connectionString="10.140.41.30;trapeace;qCWUsH29wPNcY41UA6e8q/Km3BNkN4rCm3PAtstE+f0="/>
  </connectionStrings>
  <appSettings>
    <add key="LOGIN_FORM_TYPE" value="TRA.iTOPS.Windows.Set.MainApp.Login,TRA.iTOPS.Windows.Set"/>
  </appSettings>
</configuration>
